
/* Add this to your global CSS or Tailwind CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* Add this to your CSS file */
.navigation-bar {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.fixed-navigation-bar {
  overflow-x: auto;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.animate-slide-in {
  animation: slideIn 0.8s ease-out;
}
.resultPage{
  background-color: #FFFFFF;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-wave {
  background-size: 200% 100%;
  animation: wave 2.5s infinite linear;
}

@keyframes bob {
  0%, 100% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-60%) scale(1.1);
  }
}

.animate-bob {
  animation: bob 1.8s infinite ease-in-out;
}

.delay-100 {
  animation-delay: 0.2s;
}

.delay-200 {
  animation-delay: 0.4s;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes jump-and-flip {
  0%, 50% {
    animation: jump 1s infinite;
  }
  50% {
    animation: flip 1s ease-in-out;
  }
}

.animate-jump-and-flip {
  animation: jump 2s infinite, flip 2s 1s infinite ease-in-out;
}


/* Snowfall Container */
.snowfall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

/* Snowflake Style */
.snowflake {
  position: absolute;
  /* top: -10px; */
  width: 8px;
  height: 8px;
  background-color: gold; 
  border-radius: 50%;
  animation: fall linear infinite;
}

/* Falling Animation */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(70vh); /* Fall to the bottom */
    opacity: 0; /* Fade out as it falls */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}


