<!-- Activation Email Temlate for ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Code</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
      }
      .header {
        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 10px 10px 0 0;
      }
      .content {
        padding: 20px;
      }
      .activation-code {
        background-color: #f0f0f0;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 20px;
      }
      .footer {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Welcome to Our Platform!</h2>
      </div>
      <div class="content">
        <p>Congratulations Dear,</p>
        <p>
         You have a message for your internship application in our website placedIn for the role of <% internshipName %>
        </p>
        <div class="activation-code"><%= message %></div>
        <p>
          If you have any questions or need further assistance, feel free to
          contact us.
        </p>
      </div>
      <div class="footer">
        <p>
          Best regards,<br />
          The Nuturemite Team
        </p>
      </div>
    </div>
  </body>
</html>
